Package: unifiedviews-webapp-pgsql
Source: unifiedviews-webapp-pgsql
Version: [[debian-package-version]]
Section: java
Priority: extra
Architecture: all
Maintainer: jmc@eea.sk
Homepage: https://github.com/UnifiedViews/Core
Depends: unifiedviews-webapp-shared (>> 1.5.5-1), postgresql,  debconf (>= 0.5)
Conflicts: unifiedviews-backend-mysql, unifiedviews-webapp-mysql
Breaks: unifiedviews-webapp (<= 1.5.0-1)
Replaces: lodms, unifiedviews-webapp (<= 1.5.0-1)
Description: The postgresql database and settings for unifiedviews.
