Package: unifiedviews-backend
Version: 1.5.0
Section: java
Priority: extra
Architecture: all
Maintainer: jmc@eea.sk
Depends: openjdk-7-jre-headless, mysql-server, tomcat7, debconf (>= 0.5)
Description: The tool uses data processing pipelines for obtaining, processing, and storing RDF data.
